<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Information
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Information</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-segment value="instruct" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="instruct">
      <ion-label>Instructions</ion-label>
    </ion-segment-button>
    <ion-segment-button value="subliminal">
      <ion-label>Subliminal Messages</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-content>
